.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.saludo {
  font-size: 4rem;
}
.saludo-2 {
  font-size: 4rem;
  font-weight: 200;
  padding: 2rem;
  border-radius: 10px;
  background-color: orange;
  color: white;
}
